*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family:cursive;
}
/* TITLE */
.header__title{
  position: absolute;
  left: 0;
  top: -12%;
}

/* HEADER SECTION*/

.header{
  margin-top:70px;
  width: 100vw;
  height: 50vh;
  background-image: url(../img/design1_image1.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
}

/* HEADER SETION--STYLE NAV*/

.header__nav{
  position: absolute;
  right:2%;
  top: 0%;
  transform: translate(0, -50%);
}
.header__nav a{
 margin-left: 10px;
 text-decoration: none;
 border: 1px solid rgb(30, 30, 30);
 padding: 5px;
 background-color: rgb(39, 111, 199);
 color: white;
 font-weight:200;
 font-size: 1rem;
}
.header__nav .header__nav--active{
  background-color: rgb(89, 192, 44);
}
.header__nav a:hover{
  background-color:rgb(89, 192, 44) ;

}

/* EVENTS SECTION */
.events{
  position: relative;
}
.events__title{
  text-align: center;
  border: 1px solid rgb(34, 34, 34);
  padding: 5px 0px;
  margin-bottom: 50px;
}
.events__date--space{
  margin-bottom: 10px;
}
.events img{
  position: absolute;
  width: 150px;
}
.events__date{
  position: absolute;
  left: 20%;
  top: 0;
  transform: translate(-20px,0);
  display: inline-block;
}

footer{
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%);
}

/* contact */
.events__contact{
  margin-top: 50px;
  margin-left: 30px;
}

/* about me */
.events__about{
  margin-top: 50px;
}

/* duplico la class solo por espeficidad */
.events__img.events__img{
  width: 250px;
}