*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
body{
 
  font-family:cursive;
}
/* Style header */

.header{
  width: 100vw;
  height: 60vh;
  background:linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)),url(../img/design1_image1.jpg) ;
  background-size: cover;
  position: relative;
}
.header__logo{
  width: 70px;
  margin-left:1rem
}
.header__title{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
color: rgb(198, 203, 37);
font-size: 45px;

 
}
.header__nav{
  position: absolute;
  display: inline-block;
  left: 80%;
  top: 5%;
  transform: translate(-20%,-5%);
}
.header__nav a{
  margin-left: 10px;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 8px;
  color: white;
  font-weight:200;
  font-size: 1rem;
 }
 .header__nav .header__nav--active{
   background-color: rgb(89, 192, 44);
 }
 .header__nav a:hover{
   background-color:rgb(89, 192, 44) ;
 
 }

 /* Style section Events */

 .events__title{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
 }
 .eventsCard{
  position: relative;
  margin: 0 auto;
  width: 40%;
  height: 300px;
  text-align: center;
  background-color:#ede8c8;
  border-radius: 8px;
  box-shadow:-20px 20px 20px rgba(0,0,0,0.4) ;
  margin-bottom: 50px;
 }
 .eventsCard__img{
  position: absolute;
  width: 120px;
  left: 0;
  top: 0;
 }
 .eventsCard__date{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
 }
 .eventsCard__date--space{
  margin-bottom: 10px;
 }

 footer{
  text-align: center;
 }